@import '../../layout/common.scss';
@import '../../layout/colors.scss';
.header-container {
    height: 75px;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0;
    justify-content: space-between;
    background-color: $light-gray;
    border-bottom: 1px solid $dark-gray;
}
.site-logo{
    height: 71px;
    width: 200px;
}
.custom-button{
    margin: 20px 40px;
}


a {
  text-decoration: none;
}

nav {
	font-family: monospace;
}

ul {
 background: $charcoal;
 list-style: none;
 margin: 0;
 padding-left: 0;
}

li  {
  color: #fff;
  background: $charcoal;
  display: inline-block;
  /* float: left; */
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover {
  background: $charcoal;
  cursor: pointer;
}

ul li ul {
  background: $charcoal;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
}

ul li ul li {
  clear: both;
  width: 100%;
}