// custom variables for colors
$white:  #fff !default;
$light-gray: #f8f9fa !default;
$dark-gray: #e2e2e2 !default;
$charcoal: #333132;
$black:  #000 !default;
$blue:    #007bff;
$indigo:  #6610f2 !default;
$purple:  #302782;
$orange:  #ff8c00;
$green:   #28a745 !default;
$teal:    #0adebc;
$red:     #eb0045 !default;
$red-light: #f3668f;
$pink: #d48cc7;
$yellow: #ffe800;



